<!DOCTYPE html>
<html lang="en" class="js">
<head>
  <title>CustomMLEngine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/assets/css/style.css">


</head>
<body>

  <div class="container mt-3 mb-3">

      <div class="mainpageBox">
        <form action="/predict" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col-12 col-sm-12">
                <div>
                  <div class="text-center">
                    <h1 class="mb-3">S3-FileUploader</h1>
                  </div>

                    <div>
                      <div class="row mb-3">
                        <div class="col-2 col-sm-2">Select Train.csv to upload :</div>
                        <div class="col-10 col-sm-10">
                          <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name=trained_data_set>
                            <label class="custom-file-label" for="customFile">Choose file</label>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-2 col-sm-2">Select Test.csv to upload :</div>
                      <div class="col-10 col-sm-10">
                        <div class="custom-file mb-3">
                          <input type="file" class="custom-file-input" id="customFile2" name=test_data_set>
                          <label class="custom-file-label" for="customFile2">Choose file</label>
                        </div>
                      </div>
                  </div>
                    <div class="row mb-3">
                        <div class="col-2 col-sm-2">Enter user id :</div>
                        <div class="col-10 col-sm-10">
                          <input type="text" name='user_id' class="form-control"  required="required">
                        </div>
                    </div>


                  <div class="row mb-3">
                    <div class="col-2 col-sm-2"></div>
                    <div class="col-10 col-sm-10"><input type="submit" class="btn btn-primary" value="Submit"></div>
                </div>
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 text-center">

                  </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 col-sm-12 text-center">

                  <h3 style="font-family:verdana;">{{ prediction_text }}</h3>

                </div>
            </div>
                    </div>
                </div>
          </div>

        </form></div>

      </div>

  </div>
  <script src="./static/assets/js/jquery.min.js"></script>
  <script src="./static/assets/js/popper.min.js"></script>
  <script src="./static/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  // Add the following code if you want the name of the file appear on select

  $(document).ready(function(){
    $(".custom-file-input").on("change", function() {
var fileName = $(this).val().split("\\").pop();
$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
  });


</script>

</body>

</html>
